h1 {
     font-size: 5em;
}

img { 
	width: 100%;
}

td {
    padding: 25px;
    background-color: powderblue;
}

iframe {
	width: 100%;
	height: 100%;
}

table {
	width: 100%; 
	height: 100%;
}

th {
  background-color: #4CAF50;
  color: white;
}